 <p>
<h2> <div class="title-link">  <a><%= @book.title %></a></h2></div>
 </p>
  <h5 align="center"> by </h5>
<div align="right" class="author-link"><h2><a>   <%= @book.author %> </a></h2></div>
<br>
<hr>
<div align="center"><h3>Discussion</h2></div>